:root {
    /* font-size  */
    --fs-xsm: 10px;
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 18px;
    --fs-2lg: 24px;
    --fs-xl: 36px;
    --fs-xxl: 45px;
    /* font-color  */
    --black: #000;
    --white: #FFF;
    --grey: #666666;
    --gray: #cccccc;
    --off-white: #f0f0f0;
    --light-grey: #c0c0c0;
    --grey-f8: #f8f8f8;
    --grey-fa: #fafafa;



}

@media(max-width:992px) {
    :root {
        --fs-md: 10px;
        --fs-lg: 12px;
        --fs-xl: 24px;

    }
}

@media(min-width:992px) {
    :root {
        --fs-xl: 30px;

    }
}